@media only screen and (max-width: 428px) {
    .usps-container {
        display: grid;
        grid-template-columns: auto !important;
    }

    #usps-2 {
        display: none;
    }

    #usps-2 {
        display: none;
    }

    #usps-3 {
        display: none;
    }

    #usps-4 {
        display: none;
    }

    .angles {
        display: block !important;
    }

    #usps-1{
        margin-right: 10px;
    }

}

/* For desktop: */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

.angles {
    display: none;
}

.usps-container {
    padding: 1rem;
    color: #fff;
    background-color: #252F3D;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.usps-container span {
    text-align: center;
    display: inline-flex;
    font-size: smaller;
    margin: auto;
}